body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

#main-content {
    padding: 20px;
    transition: opacity 0.3s ease-in-out;
}

.tabs, .sub-tabs {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
}

.tab, .sub-tab {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 8px;
}

.tab:hover, .sub-tab:hover {
    background-color: #444;
    border-radius: 8px;
}

.tab.active, .sub-tab.active {
    background-color: #555;
    border-radius: 8px;
}

.tab-content, .sub-tab-content {
    margin-top: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tab-content.active, .sub-tab-content.active {
    display: block;
    opacity: 1;
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.access-key-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access-key-input {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    text-align: center;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
}

#submit-key {
    padding: 10px 20px;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#submit-key:hover {
    background-color: #00ff00;
    color: black;
    transform: scale(1.1);
}

button {
    padding: 10px 20px;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #00ff00;
    color: black;
    transform: scale(1.1);
}

#access-status {
    text-align: center;
}
